<div class="text-center jumbotron">
<div class="bck">
  <div class="fre">
    <h1>Pink Fit</h1>
    <h2>Training Session Portal</h2>
    <br>
    <div>
      <br/>
      <a><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></a>
      <a><%= link_to "Sign in",      signin_path, class: "btn btn-large btn-primary" %></a>
    </div>
  </div>
</div>
</div>
